[package]
authors = ["leudz <dylan.ancel@gmail.com>"]
categories = ["data-structures", "game-development", "concurrency", "no-std"]
description = "Entity Component System"
edition = "2018"
keywords = ["ecs", "entity", "component"]
license = "MIT OR Apache-2.0"
name = "shipyard"
readme = "README.md"
repository = "https://github.com/leudz/shipyard"
version = "0.4.0"

[workspace]
members = ["bunny_demo", "tutorial"]

[dependencies]
hashbrown = "^0.9"
indexmap = "^1"
parking_lot = "^0.11"
rayon = {version = "^1", optional = true}
serde = {version = "^1", optional = true, default-features = false}

[features]
default = ["panic", "parallel"]
non_send = ["std"]
non_sync = ["std"]
panic = []
parallel = ["rayon", "std"]
serde1 = ["serde"]
std = []

[dev-dependencies]
serde_derive = "^1"
serde_json = "^1"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
