[tasks.test-all]
program = "cargo"
args = ["test", "--all-features"]

[tasks.test-no-default]
program = "cargo"
args = ["test", "--tests", "--lib", "--no-default-features"]

[tasks.miri]
serial = ["clean", "_miri"]

[tasks._miri]
program = "cargo"
args = ["+nightly", "miri", "test", "--tests", "--lib", "--no-default-features"]
private = true

[tasks.clean]
program = "cargo"
args = ["clean", "-p", "shipyard"]

[tasks.clippy]
env = { "RUSTFLAGS" = "-D warnings" }
program = "cargo"
args = ["clippy"]

[tasks.fmt]
program = "cargo"
args = ["fmt"]

[tasks.doc]
env = { "RUSTFLAGS" = "-D warnings" }
program = "cargo"
args = ["doc", "--all-features", "--no-deps"]

[tasks.build_square_eater]
program = "cargo"
args = [
    "build",
    "--package",
    "square_eater",
    "--manifest-path",
    "square_eater/Cargo.toml",
    "--release",
    "--target",
    "wasm32-unknown-unknown",
]

[tasks.move_square_eater]
script_runner = "@shell"
script = '''
rm -f ./square_eater/public/square_eater.wasm
mv ./target/wasm32-unknown-unknown/release/square_eater.wasm ./square_eater/public/
'''

[tasks.square_eater]
serial = ["build_square_eater", "move_square_eater"]

[tasks.test]
serial = ["fmt", "test-all", "doc", "miri", "clippy", "clean"]

[tasks.dev_visualizer]
program = "trunk"
args = ["serve", "visualizer/index.html"]
env = { "RUSTFLAGS" = "--cfg=web_sys_unstable_apis" }
